<html>

<head>
    <title>Riddle Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<div class="container-fluid" id="controls">
    <div class="row">
        <div class="border rounded col-sm-10" >
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="assumedEarthRadius">Globe Radius</label>
                        <input type="number" class="form-control" id="assumedEarthRadius" v-model="assumedEarthRadius" min="0" aria-describedby="assumedEarthRadiusHelper" placeholder="Enter radius in miles">
                        <small id="assumedEarthRadiusHelper" class="form-text text-muted"><a v-on:click="fillEarthRadius" href="#">Click here to add the real (average!) Earth radius</a></small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="distanceSouth">Distance South<small v-if="distanceSouthAlert" style="display: hidden" class="text-danger" role="alert"> (Max distance south reached)</small></label>
                        <input type="number" class="form-control" id="distanceSouth" v-model="distanceSouth" value="1" min="0" placeholder="Enter distance in miles">
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="scaleFactor">Scale Factor</label>
                        <input type="number" step=".1" class="form-control" id="scaleFactor" min="0" v-model="scaleFactor">
                    </div>
                </div>
            </div>
        </div>
        <div class="alert-primary border rounded col-sm-2" role="alert">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="circleDistance">Result Circle Distance</label>
                        <input readonly type="number" class="form-control" id="circleDistance" :value="circleDistance">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<canvas id="globe"></canvas>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://bl.ocks.org/mbostock/raw/7ea1dde508cec6d2d95306f92642bc42/6aac691494f752142a67cc43c51a0fd09896dbd4/versor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="d3canvasglobe.js"></script>
<script src="riddle.js"></script>

</html>